
.select {
  margin: 0.5rem 1rem;
}

.wrapper {
  max-width: 1460px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 0 1em;
  margin-bottom: 1rem;
  font-family: 'sans-serif';
  color: #3b4151;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.10196);
  background-color: white;
}
